@page
@model UserDataAccounting.Web.Pages.EmployeeListModel
@{
    ViewData["Title"] = "Employee";
}


<div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="Index">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Employee</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Id</th>
                    <th scope="col">Pnone</th>
                    <th scope="col">Date of birth</th>
                    <th scope="col">Address</th>
                    <th scope="col" class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var employee in Model.EmployeeList)
                {
                    <tr>
                        <td>@employee.Name</td>
                        <td>@employee.Id</td>
                        <td>@employee.Phone</td>
                        <td>@employee.DateOfBirth</td>
                        <td>@employee.Address</td>
                        <td class="text-center">
                            <form method="post">
                                <a asp-page="EmployeeDetail" asp-route-id="@employee.Id" class="btn btn-sm btn-warning">Edit</a>
                                <button type="submit" asp-page-handler="DeleteEmployee" asp-route-id="@employee.Id" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="text-center">
            <a asp-page="EmployeeDetail" class="btn btn-lg btn-block btn-success">Create employee</a>
        </div>
    </div>
</div>