@page
@model UserDataAccounting.Web.Pages.WageListModel
@{
    ViewData["Title"] = "Wage";
}

<div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="Index">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Wage</li>
                </ol>
            </nav>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
    <form method="post">
        <div class="form-group">
            <label class="text-sm-start">Search: <input type="text" asp-for="SearchString" id="searchString" name="searchString" /></label>
            <button asp-page-handler="FilterWage" class="btn btn-sm btn-secondary">Filter</button>

            <button asp-page-handler="PrintWage" class="btn btn-sm btn-secondary">Print</button>
            <button asp-page-handler="AllWage" class="btn btn-sm btn-secondary">All</button>
            <button asp-page-handler="OnlyTheLatesWage" class="btn btn-sm btn-secondary">Only the lates</button>
            <button asp-page-handler="MediumWage" class="btn btn-sm btn-secondary">Salary / Medium department</button>
            <button asp-page-handler="EmployeeWage" class="btn btn-sm btn-secondary">Employees wage</button>
        </div>
    </form>
    </div>
</div>

@if (Model.IndexData == 0)
{
    <div class="container">
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Department</th>
                        <th scope="col">Job</th>
                        <th scope="col">Employee</th>
                        <th scope="col">Date of work</th>
                        <th scope="col">Salary</th>
                        <th scope="col" class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var wage in Model.WageList)
                    {
                        <tr>
                            <td>@wage.DepartmentName</td>
                            <td>@wage.JobName</td>                      
                            <td>@wage.EmployeeName</td>
                            <td>@wage.DateOfWork</td>
                            <td>@wage.Salary</td>
                            <td class="text-center">
                                <form method="post">
                                    <a asp-page="WageDetail"
                                        asp-route-departmentId="@wage.DepartmentId"
                                        asp-route-jobId="@wage.JobId"
                                        asp-route-employeeId="@wage.EmployeeId"
                                        asp-route-dateOfWork="@wage.DateOfWork"
                                        class="btn btn-sm btn-warning">Edit</a>
                                    <button type="submit" asp-page-handler="DeleteWage" asp-route-departmentId="@wage.DepartmentId" asp-route-jobId="@wage.JobId" asp-route-employeeId="@wage.EmployeeId" asp-route-dateOfWork="@wage.DateOfWork" class="btn btn-danger btn-sm">Delete</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="text-center form-control-plaintext">
                <form method="post">
                    <a asp-page="WageDetail" class="btn btn-lg btn-block btn-success">Create wage</a>
                </form>
            </div>
        </div>
    </div>
}
else if (Model.IndexData == 1)
{
    <div class="container">
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Department</th>
                        <th scope="col">Medium salary</th>
                        <th scope="col">Salary</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var wage in Model.MediumWageList)
                    {
                        <tr>
                            <td>@wage.DepartmentName</td>
                            <td>@wage.MediumSalary</td>
                            <td>@wage.Salary</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
</div>
}
else if (Model.IndexData == 2)
{
    <div class="container">
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Employee</th>
                        <th scope="col">Department</th>
                        <th scope="col">Job</th>                       
                        <th scope="col">Date of work</th>
                        <th scope="col">Salary</th>
                        <th scope="col">Phone</th>
                        <th scope="col">DateOfBirth</th>
                        <th scope="col">Address</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var wage in Model.WageList)
                    {
                        <tr>
                            <td>@wage.EmployeeName</td>
                            <td>@wage.DepartmentName</td>
                            <td>@wage.JobName</td>
                            <td>@wage.DateOfWork</td>
                            <td>@wage.Salary</td>
                            <td>@wage.Phone</td>
                            <td>@wage.DateOfBirth</td>
                            <td>@wage.Address</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}